<%= stylesheet_link_tag 'cast' %>

<br>
<br>
<br>
<br>
<br>
<br>
<br>

<h1 class="cast__title">Cast of <span class="title">"{{movie.title}}"</span></h1>

<ul>
<li ng-repeat="actor in actors">
<a ui-sref="cast.actors({id: movie.id, actor_id: actor.id})">{{actor.name}}</a>
</li>
</ul>

<ui-view></ui-view>

