<%= stylesheet_link_tag 'movies' %>
<%= stylesheet_link_tag 'categories' %>

<br>
<br>
<br>
<br>
<br>
<br>
<br>

<div class="movies__main">
	<h1 class="category__name">{{vm.categoryName}} </h1>	
	<button class="upvote__button" ng-click="vm.sortByUpvotes()">Sort By Upvotes</button>
	<ul>
		<li ng-repeat="movie in vm.movies">
			<div class="item">
				<a ui-sref="movie({id: movie.id})"><img src="{{movie.image_url}}" /><div class="item-overlay"></div></a>
				<br>
				<a class="no__underline" ui-sref="movie({id: movie.id})"><span class="movie__title">{{movie.title}} <br>
				{{movie.votes}}</span></a>
				<button ng-click="vm.upvote(movie)">Upvote</button><br>
			</div>
		</li>
	</ul>
</div>
