<%= stylesheet_link_tag 'info' %>
<br>
<br>
<br>
<br>
<br>
<br>
<h1>Cinema Star Info:</h1>
<div class="navigation">
<a ui-sref="info.contact">Contact</a>
<a ui-sref="info.privacy">Privacy Policy</a></div><br>
<ui-view></ui-view>