<%= stylesheet_link_tag 'movie' %>
<br>
<br>
<br>
<br>
<br>
<br>
<div id="container">
	<h1 class="title" ><span >{{movie.title}}</span><span class="right"><a ui-sref="cast({id: movie.id})">Cast</a></span><span class="right"><a ui-sref="movies">Home</a></span></h1>

	<img style="box-shadow: 1px 1px 1px 1px black" src="{{movie.image_url}}">
	<div id="paragraph__container">
		<p>{{movie.description}} </p>
	</div>



<form name="form" ng-submit="submitted()">
	<label for="content">New Comment:</label><br>
	<textarea name="content" type="text" ng-model="formData.content" required="required"></textarea><br>
	<label for="content">Email:</label><br>
	<input type="email" name="email" ng-model="formData.email" required="required"><br>
	<input type="submit">
</form>

<ul class="comments">
	<h5>Comments: </h5>
	<hr>
	<li  ng-repeat="comment in comments">
	<span class="quote">"{{comment.content}}" </span> <span class="commentor">({{comment.email}})</span>
	</li>
</ul>

</div>