h1.category__name {
	margin-left: 55px;
	margin-bottom: 0px;
	padding-top: 0px;
	color: gold;
}

.white {

	font-size: .4em;
}

.upvote__button {
	margin-left: 55px;
	margin-top: 4px;
}

.item-overlay {
	height: 200px;
	width: 130px;
	background-color: rgba(0, 0, 0, 0);
	position: absolute;
	top: 0px;
	display: block;
}
.item-overlay:hover {
	 -moz-transform: scale(1);
 	 -webkit-transform: scale(1);
  	transform: scale(1);

	background-color: rgba(0, 0, 0, .2);
	position: absolute;
	top: 0px;
	display: block;
}