

ul img{
	height: 200px;
	width: 130px;
}

hr {
	width: 855px;
	margin-left: 15px;
 	border: 0; height: 1px; 
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0));
}

.movies__main {
	width: 960px;
	margin-left: auto;
	margin-right: auto;
}

.movie__label {
	color: gold;
	margin-left: 16px;
	margin-bottom: 10px;
}

ul{
	list-style: none;
	clear:left;
	background-color:linear-gradient(left, #5b86e5, #4b56e5);
}
li {
	float: left;
	margin-left: 15px;
}

div.item {
	vertical-align :block;
	display: inline-block;
	text-align: center;
}

.item {
  position: relative;
  
  overflow: hidden;
}
a{
	color: black;
}
a.no__underline{
	text-decoration: none;
	color: white;
}

.item-overlay {
	height: 200px;
	width: 162px;
	background-color: rgba(0, 0, 0, 0);
	position: absolute;
	top: 0px;
	display: block;
}
.item-overlay:hover {
	 -moz-transform: scale(1);
 	 -webkit-transform: scale(1);
  	transform: scale(1);

	background-color: rgba(0, 0, 0, .2);
	position: absolute;
	top: 0px;
	display: block;
}



.movie__title {
	font-size: .7em;
	color: white;
	display: block;
}