<!DOCTYPE html>
<html>
  <head>
    <title>MoviesApp</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body ng-app="app">
  <div class="header"><h1>Cinema Star</h1>
  <h5>Browse new releases and find out what's playing in your area</h5>
  <div class="nav">
  <a ui-sref="home.movies">Home</a><a ui-sref="info">Site Info</a><a ui-sref="home.locations">Locations</a>
  </div>
<!--    <input type="text" placeholder="Enter your zipcode"> --></div>

    <ui-view ></ui-view>
  </body>
</html>
